<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
</head>
<body>
<h2>도서관리시스템</h2>
<hr />

<div id="bookForm">
	<input type="hidden" v-model="b.bookid" />
	도서이름: <input type="text" v-model="b.bookname"/><br>
	도서가격: <input type="text" v-model="b.price" /><br>
	출판사명: <input type="text" v-model="b.publisher" /><br>
	<button v-on:click="callAjax('insertBook')">등록</button>
	<button v-on:click="callAjax('updateBook')">수정</button>
	<button v-on:click="callAjax('deleteBook')">삭제</button>
</div>
<table id="book" border="1">
	<thead>
		<tr>
			<th>도서번호</th>
			<th>도서명</th>
			<th>도서가격</th>
			<th>출판사명</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="b in list" v-on:click="selectBook(b)">
			<td>{{b.bookid}}</td>
			<td>{{b.bookname}}</td>
			<td>{{b.price}}</td>
			<td>{{b.publisher}}</td>
		</tr>
	</tbody>
</table>

<script>
	const axiosConfig = {
        headers:{
            "Content-Type":"application/x-www-form-urlencoded"
        }
    }

	var bookForm = new Vue({
		el:"#bookForm",
		data:{
			b:{
				bookid: 0,
				bookname: "",
				price: 0,
				publisher: ""
			}
		},
		methods:{
			callAjax: function(url){
				axios.post(url,this.b,axiosConfig).then(function(){
					location.reload();
				});
			}
		}
	});
	axios.get("/listBook").then(function(res){
		console.log(res.data); 
		var book = new Vue({
			el:"#book",
			data:{
				list: res.data
			},
			methods:{
				selectBook:function(b){
					bookForm.b = b;
				}
			}
		});
	});
</script>
</body>
</html>